<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
        <link href='../static/css/style.css' rel="stylesheet">
        <link rel="icon" href="data:;base64,iVBORwOKGO=" />
    </head>
    <body style="font-family:Montserrat;color:#aaaaaa;">
        <script src="https://d3js.org/d3.v4.min.js"></script> 
        <script src="../static/js/continent_category.js"></script>

        <div class="header">
            <a href="/" class="logo">Crowdsourcing Analytics and Visualization</a>
        </div>
        <hr class="style1">
        <div class="main">
            <div class="main-content">
                <div>
                    <h1>Insights</h1>
                </div>
                <hr>
                <div class="insights-content">
                    <div id="form-content">
                        <form action = "{{ url_for('insights') }}" method = "POST">
                            <p>Project Name <input type = "text" name = "name" /></p>
                            <p>Project Description <input type = "text" name = "desc" /></p>
                            <p>Goal Amount <input type = "text" name = "goal" /></p>
                            <p>Campaign Length <input type ="text" name = "campaign_length" /></p>
                            <p>Country <input type ="text" name = "country" /></p>
                            <p>Parent Category <input type ="text" name = "parent_category" /></p>
                            <p>Category <input type ="text" name = "category" /></p>
                            <p><input type = "submit" value = "submit"/></p>
                        </form>
                    </div>
                    <div id="result-content">
                        <!-- {% if data1 == 0 %}
                        <p>{{ data1 }}</p>
                        {% elif data1 != 9 %}
                        <p>{{ data1 }}</p>
                        {% endif %}                         -->

                        <!-- <br>
                        <div id="myProgress">
                            <div id="myBar">0%</div>
                        </div>
                        <button onclick="var t = {{ data1 }}; move(t)">Show Prediction</button>  -->

                    </div>
                </div>
            </div>
            
            <nav class="main-nav">
                <a href="/">Dashboard</a><br>
                <a href="{{ url_for('maps') }}">Maps</a><br>
                <a href="{{ url_for('insights') }}">Insights</a><br>
                <a href="{{ url_for('statistics') }}">Statistics</a><br>
                <a href="{{ url_for('spotlight') }}">Spotlight</a><br>
            </nav>     
        </div>
        <script>
            function move(max_val) {
                var elem = document.getElementById("myBar"); 
                var width = 0;
                var id = setInterval(frame, 10);
                function frame() {
                    if (width >= max_val) {
                    clearInterval(id);
                    } else {
                    width++; 
                    elem.style.width = width + '%'; 
                    elem.innerHTML = width * 1 + '%';
                    }
                }
            }
        </script>
        <script src="https://www.amcharts.com/lib/4/core.js"></script>
        <script src="https://www.amcharts.com/lib/4/charts.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
        <script>
            /**
 * ---------------------------------------
 * This demo was created using amCharts 4.
 * 
 * For more information visit:
 * https://www.amcharts.com/
 * 
 * Documentation is available at:
 * https://www.amcharts.com/docs/v4/
 * ---------------------------------------
 */
var t = {{ data1 }};
// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// create chart
var chart = am4core.create("result-content", am4charts.GaugeChart);
chart.hiddenState.properties.opacity = 0; // this makes initial fade in effect

chart.innerRadius = -25;

var axis = chart.xAxes.push(new am4charts.ValueAxis());
axis.min = 0;
axis.max = 100;
axis.strictMinMax = true;
axis.renderer.grid.template.stroke = new am4core.InterfaceColorSet().getFor("background");
axis.renderer.grid.template.strokeOpacity = 0.3;

var colorSet = new am4core.ColorSet();

var range0 = axis.axisRanges.create();
range0.value = 0;
range0.endValue = 50;
range0.axisFill.fillOpacity = 1;
range0.axisFill.fill = colorSet.getIndex(0);
range0.axisFill.zIndex = - 1;

var range1 = axis.axisRanges.create();
range1.value = 50;
range1.endValue = 80;
range1.axisFill.fillOpacity = 1;
range1.axisFill.fill = colorSet.getIndex(2);
range1.axisFill.zIndex = -1;

var range2 = axis.axisRanges.create();
range2.value = 80;
range2.endValue = 100;
range2.axisFill.fillOpacity = 1;
range2.axisFill.fill = colorSet.getIndex(4);
range2.axisFill.zIndex = -1;

var hand = chart.hands.push(new am4charts.ClockHand());

// using chart.setTimeout method as the timeout will be disposed together with a chart
chart.setTimeout(randomValue, 2000);

function randomValue() {
    hand.showValue(t, 100, am4core.ease.cubicOut);
    chart.setTimeout(randomValue, 2000);
}
        </script>
    </body>
</html>
