<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
        <link href='../static/css/style.css' rel="stylesheet">
        <link rel="icon" href="data:;base64,iVBORwOKGO=" />
    </head>
    <body style="font-family:Montserrat;color:#aaaaaa;">
        <div class="header">
            <a href="/" class="logo">Crowdsourcing Analytics and Visualization</a>
        </div>
        <hr class="style1">
        <div class="main">
            <div class="main-content">
                <div>
                    <h1>Spotlights</h1>
                </div>
                <hr>
                <div id="spotlight-class">
                    Order by: 
                    <a id="orderAppearances" >Most % of backing</a> 
                    <a id="orderSigil" >Parent category</a> 
                    <a id="orderFirst" >Category</a>
                    <br><br>
                    <hr>
                    <br>
                </div>
            </div>
            
            <nav class="main-nav">
                <a href="/">Dashboard</a><br>
                <a href="{{ url_for('maps') }}">US Maps</a><br>
                <a href="{{ url_for('insights') }}">Prediction</a><br>
                <a href="{{ url_for('statistics') }}">Statistics</a><br>
                <a href="{{ url_for('spotlight') }}">Spotlight</a><br>
            </nav>    
        </div>
        <script src="https://d3js.org/d3.v4.min.js"></script> 
        <script src="{{ url_for('static', filename='js/spotlight.js') }}"></script>
    </body>
</html>
