<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
        <link href='../static/css/style.css' rel="stylesheet">
        <link rel="icon" href="data:;base64,iVBORwOKGO=" />
    </head>
    <body style="font-family:Montserrat;color:#aaaaaa;">
        <div class="header">
            <a href="/" class="logo">Crowdsourcing Analytics and Visualization</a>
        </div>
        <hr class="style1">
        <div class="main">
            <div class="main-content">
                <div>
                    <h1>Statistics</h1>
                </div>
                <hr>
                <div class="stat-content">
                        <div id="pieChart"></div>
                        <div id="barChart"></div>
                </div>
                <br>
                <!-- <div class="stat-content">
                        <div id="most-commom-words"></div>
                        <div id="barChart"></div>
                </div> -->
                <div id="treemap">
                
                </div>
            </div>           
            <nav class="main-nav">
                <a href="/">Dashboard</a><br>
                <a href="{{ url_for('maps') }}">Maps</a><br>
                <a href="{{ url_for('insights') }}">Insights</a><br>
                <a href="{{ url_for('statistics') }}">Statistics</a><br>
                <a href="{{ url_for('spotlight') }}">Spotlight</a><br>
            </nav>     
        </div>

        <script src="https://www.amcharts.com/lib/4/core.js"></script>
        <script src="https://www.amcharts.com/lib/4/charts.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
        <script>
            /**
 * ---------------------------------------
 * This demo was created using amCharts 4.
 * 
 * For more information visit:
 * https://www.amcharts.com/
 * 
 * Documentation is available at:
 * https://www.amcharts.com/docs/v4/
 * ---------------------------------------
 */

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

{% autoescape false %}
    var data = {{data}};
{% endautoescape %}

                function processData(data) {
                var treeData = [];

                // var smallBrands = { name: "Other", children: [] };

                for (var brand in data) {
                    var brandData = { name: brand, children: [] }
                    var brandTotal = 0;
                    for (var model in data[brand]) {
                        brandTotal += data[brand][model];
                    }

                    for (var model in data[brand]) {
                        // do not add very small
                        if (data[brand][model] > 1) {
                            brandData.children.push({ name: model, count: data[brand][model] });
                        }
                    }

                    // add to small brands if total number less than
                    // if (brandTotal > 100000) {
                        treeData.push(brandData);
                    // }
                    // else {
                    //     smallBrands.children.push(brandData)
                    // }

                }
                // treeData.push(smallBrands);
                return treeData;
            }

            // create chart
            var chart = am4core.create("treemap", am4charts.TreeMap);
            chart.hiddenState.properties.opacity = 0; // this makes initial fade in effect

            // only one level visible initially
            chart.maxLevels = 1;
            // define data fields
            chart.dataFields.value = "count";
            chart.dataFields.name = "name";
            chart.dataFields.children = "children";
            chart.homeText = "Parent-Child Category";

            // enable navigation
            chart.navigationBar = new am4charts.NavigationBar();

            // level 0 series template
            var level0SeriesTemplate = chart.seriesTemplates.create("0");
            level0SeriesTemplate.strokeWidth = 2;

            // by default only current level series bullets are visible, but as we need brand bullets to be visible all the time, we modify it's hidden state
            level0SeriesTemplate.bulletsContainer.hiddenState.properties.opacity = 1;
            level0SeriesTemplate.bulletsContainer.hiddenState.properties.visible = true;
            // create hover state
            var columnTemplate = level0SeriesTemplate.columns.template;
            var hoverState = columnTemplate.states.create("hover");

            // darken
            hoverState.adapter.add("fill", function (fill, target) {
                if (fill instanceof am4core.Color) {
                    return am4core.color(am4core.colors.brighten(fill.rgb, -0.2));
                }
                return fill;
            })

            // level1 series template
            var level1SeriesTemplate = chart.seriesTemplates.create("1");
            level1SeriesTemplate.columns.template.fillOpacity = 0;

            var bullet1 = level1SeriesTemplate.bullets.push(new am4charts.LabelBullet());
            bullet1.locationX = 0.5;
            bullet1.locationY = 0.5;
            bullet1.label.text = "{name}";
            bullet1.label.fill = am4core.color("#ffffff");

            // level2 series template
            var level2SeriesTemplate = chart.seriesTemplates.create("2");
            level2SeriesTemplate.columns.template.fillOpacity = 0;

            var bullet2 = level2SeriesTemplate.bullets.push(new am4charts.LabelBullet());
            bullet2.locationX = 0.5;
            bullet2.locationY = 0.5;
            bullet2.label.text = "{name}";
            bullet2.label.fill = am4core.color("#ffffff");

            chart.data = processData(data);
            
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://d3js.org/queue.v1.min.js"></script>
        <script>
            var piechartDataUrl = "{{ url_for('get_piechart_data') }}";
            var barchartDataUrl = "{{ url_for('get_barchart_data') }}";
        </script>
        <script src="{{ url_for('static', filename='js/pieChart.js') }}"></script>
        <script src="{{ url_for('static', filename='js/barChart.js') }}"></script>
        <script src="{{ url_for('static', filename='js/updateChart.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        
    </body>
</html>
